[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
netifaces = "*"
pytest = "*"
pytest-django = "*"
pytest-env = "*"
mock = "*"

[packages]
django = "==3.2.20"
werkzeug = "*"
django-extensions = "*"
djangorestframework = "*"
drf-extensions = "*"
django-rest-passwordreset = "*"
unidecode = "*"
xlsxwriter = "*"
dj-database-url = "*"
pyyaml = "*"
ua-parser = "*"
user-agents = "*"

[requires]
python_version = "3.9"
