appnope==0.1.3
asgiref==3.6.0
asttokens==2.2.1
attrs==22.2.0
backcall==0.2.0
decorator==5.1.1
dj-database-url==1.2.0
Django==3.2.15
django-extensions==3.2.1
django-rest-passwordreset==1.3.0
djangorestframework==3.14.0
drf-extensions==0.7.1
exceptiongroup==1.1.0
executing==1.2.0
iniconfig==2.0.0
ipython==8.9.0
jedi==0.18.2
MarkupSafe==2.1.2
matplotlib-inline==0.1.6
mock==5.0.1
netifaces==0.11.0
packaging==23.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pluggy==1.0.0
prompt-toolkit==3.0.36
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.14.0
pytest==7.2.1
pytest-django==4.5.2
pytest-env==0.8.1
pytz==2022.7.1
PyYAML==6.0
six==1.16.0
sqlparse==0.4.3
stack-data==0.6.2
tomli==2.0.1
traitlets==5.9.0
ua-parser==0.16.1
Unidecode==1.3.6
user-agents==2.2.0
wcwidth==0.2.6
Werkzeug==2.2.2
XlsxWriter==3.0.8
uwsgi==2.0.20
psycopg2==2.9.2
