asgiref==3.6.0
dj-database-url==1.2.0
Django==3.2.15
django-extensions==3.2.1
django-rest-passwordreset==1.3.0
djangorestframework==3.14.0
drf-extensions==0.7.1
MarkupSafe==2.1.2
pytz==2022.7.1
PyYAML==6.0
sqlparse==0.4.3
ua-parser==0.16.1
Unidecode==1.3.6
user-agents==2.2.0
Werkzeug==2.2.2
XlsxWriter==3.0.8
uwsgi==2.0.20
psycopg2==2.9.2
